@if (ctrl) {
    @if (ctrl.errors?.["required"]) {
        <div class="text-red-500 text-sm mt-1">This field is required</div>
    }
    @if (ctrl.errors?.["minlength"]) {
        <div class="text-red-500 text-sm mt-1">This field is too short</div>
    }
    @if (ctrl.errors?.["maxlength"]) {
        <div class="text-red-500 text-sm mt-1">This field is too long</div>
    }
    @if (ctrl.errors?.["min"]) {
        <div class="text-red-500 text-sm mt-1">This value is too small</div>
    }
    @if (ctrl.errors?.["max"]) {
        <div class="text-red-500 text-sm mt-1">This value is too big</div>
    }
    @if (!ctrl.errors?.["maxlength"] && !ctrl.errors?.["minlength"] && !ctrl.errors?.["required"] && ctrl.errors?.["email"]) {
        <div class="text-red-500 text-sm mt-1">Email is invalid</div>
    }
} @else if (error_message) {
    <div class="text-red-500 text-sm mt-1">
        {{ error_message }}
    </div>
}
